@tailwind base;
@tailwind components;
 a:hover span#about, a:hover b {
	@apply text-yellow-300;
}

 a:hover span#bulletin, a:hover b {
	@apply text-yellow-300;
}

 a:hover span#courses, a:hover b {
	@apply text-yellow-300;
}

/* desktop */
a.about:hover .sub-menu, a.courses:hover .sub-menu {
	@apply !block w-auto;
}

.sub-menu {
	@apply hidden;
}


.slides {
  @apply hidden;
}

.slides img {
  @apply w-full;
}

.prev, .next {
  @apply absolute top-[50%] w-auto p-[16px] mt-[-22px] text-[rebeccapurple] font-bold text-[20px] cursor-pointer;
}

.prev {
  @apply left-0;
}

.next {
  @apply right-0;
}

.tilt-container {
  perspective: 1000px;
}

.tilt-on-hover-left, .tilt-on-hover-right {
  transition: transform 0.3s ease-in-out;
}

@screen md {
.tilt-on-hover-left:hover {
  transform: rotateY(-7deg); /* Adjust the degree of tilt as needed */
}

.tilt-on-hover-right:hover {
  transform: rotateY(7deg); /* Adjust the degree of tilt as needed */
}
}

@tailwind utilities;

