@tailwind base;
@tailwind components;
 a:hover span#about, a:hover b {
	@apply text-yellow-300;
}

 a:hover span#bulletin, a:hover b {
	@apply text-yellow-300;
}

 a:hover span#courses, a:hover b {
	@apply text-yellow-300;
}

/* desktop */
a.about:hover .sub-menu, a.courses:hover .sub-menu {
	@apply !block w-auto;
}

.sub-menu {
	@apply hidden;
}

/* 
.slides {
  @apply opacity-0 transition-opacity duration-500 ease-in-out;
} */
.slides {
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform: translateX(100%);
  overflow: hidden;
  height: 0;
}

.slide-in {
  opacity: 1;
  transform: translateX(0);
  height: inherit;
}

.slide-out {
  opacity: 0;
  transform: translateX(-100%);
  height: 0;
}

.slides img {
  @apply w-full;
}

.prev, .next {
  @apply absolute top-[50%] w-auto p-[16px] mt-[-22px] text-[rebeccapurple] font-bold text-[20px] cursor-pointer;
}

.prev {
  @apply left-0;
}

.next {
  @apply right-0;
}

.tilt-container {
  perspective: 1000px;
}

.tilt-on-hover-left, .tilt-on-hover-right {
  transition: transform 0.3s ease-in-out;
}

@screen md {
.tilt-on-hover-left:hover {
  transform: rotateY(-7deg); /* Adjust the degree of tilt as needed */
}

.tilt-on-hover-right:hover {
  transform: rotateY(7deg); /* Adjust the degree of tilt as needed */
}
}

@tailwind utilities;

